<div class="mt-28 px-14 flex flex-row justify-between">
    <div class="flex-1">
        <img src="https://a0.muscache.com/pictures/6ad4bd95-f086-437d-97e3-14d12155ddfe.jpg" class="h-6 w-6 fill-slate-500">
        <p class="text-slate-600">Country Side</p>
    </div>
    <div class="flex-1">
        <img src="https://a0.muscache.com/pictures/3726d94b-534a-42b8-bca0-a0304d912260.jpg" class="h-6 w-6"> 
        <p class="text-slate-600">Trending</p>
    </div>
    <div class="flex-1">
        <img src="https://a0.muscache.com/pictures/ee9e2a40-ffac-4db9-9080-b351efc3cfc4.jpg" class="h-6 w-6"> 
        <p class="text-slate-600">Tropical</p>
    </div>
    <div class="flex-1">
        <img src="https://a0.muscache.com/pictures/c8e2ed05-c666-47b6-99fc-4cb6edcde6b4.jpg" class="h-6 w-6"> 
        <p class="text-slate-600">Luxe</p>
    </div>
    <div class="flex-1">
        <img src="https://a0.muscache.com/pictures/5ed8f7c7-2e1f-43a8-9a39-4edfc81a3325.jpg" class="h-6 w-6"> 
        <p class="text-slate-600">Breakfast</p>
    </div>
    <div class="flex-1">
        <img src="https://a0.muscache.com/pictures/3fb523a0-b622-4368-8142-b5e03df7549b.jpg" class="h-6 w-6"> 
        <p class="text-slate-600">Pools</p>
    </div>
    <div class="flex-1">
        <img src="https://a0.muscache.com/pictures/bcd1adc0-5cee-4d7a-85ec-f6730b0f8d0c.jpg" class="h-6 w-6"> 
        <p class="text-slate-600">Beach Front</p>
    </div>
    <div class="flex-1">
        <img src="https://a0.muscache.com/pictures/3b1eb541-46d9-4bef-abc4-c37d77e3c21b.jpg" class="h-6 w-6"> 
        <p class="text-slate-600">View</p>
    </div>
    <div class="flex-1">
        <img src="https://a0.muscache.com/pictures/677a041d-7264-4c45-bb72-52bff21eb6e8.jpg" class="h-6 w-6"> 
        <p class="text-slate-600">Lakefront</p>
    </div>
    <div class="flex-1">
        <img src="https://a0.muscache.com/pictures/1b6a8b70-a3b6-48b5-88e1-2243d9172c06.jpg" class="h-6 w-6 "> 
        <p class="text-slate-600">Castle</p>
    </div>
   
</div>

